# Nettoyage de la base de données

In [1]:
import pandas as pd
df=pd.read_csv('public/datasets/ShootingsDatabase.csv')

In [2]:
#on enlève les colonnes suivantes:
# 10: mental_health_details
# 12: where_obtained
# 14: weapon_details
# 18: mental_health_sources
# 19: sources_additional_age
# 22: type
# 23: year  (car on a déjà la colonne date)

df=df.drop(df.columns[[10,12,14,18,19,22,23]], axis='columns')

In [3]:
df.head()

,case,location,date,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,weapons_obtained_legally,weapon_type,race,gender,sources,latitude,longitude
0,Molson Coors shooting,"Milwaukee, Wisconsin",2/26/20,"Anthony Ferrill, 51, an employee armed with tw...",5,0,5,Workplace,51,-,-,semiautomatic handgun,Black,M,https://www.jsonline.com/story/news/local/2020...,43.044511,-87.962537
1,Jersey City kosher market shooting,"Jersey City, New Jersey",12/10/19,"David N. Anderson, 47, and Francine Graham, 50...",4,3,7,Other,-,-,-,-,Black,-,https://www.nytimes.com/2019/12/15/nyregion/je...,40.707363,-74.083609
2,Pensacola Naval base shooting,"Pensacola, Florida",12/6/19,"Ahmed Mohammed al-Shamrani, A Saudi Arabian mi...",3,8,11,Military,-,-,-,semiautomatic handgun,-,M,https://www.washingtonpost.com/national-securi...,30.364707,-87.288567
3,Odessa-Midland shooting spree,"Odessa, Texas",8/31/19,"Seth A. Ator, 36, fired at police officers who...",7,25,32,Other,36,yes,-,semiautomatic rifle,White,M,https://www.washingtonpost.com/politics/5-kill...,31.925974,-102.279600
4,Dayton entertainment district shooting,"Dayton, Ohio",8/4/19,"Connor Betts, 24, died during the attack, foll...",9,27,36,Other,24,-,Yes,semiautomatic rifle,White,M,https://www.nytimes.com/2019/08/04/us/dayton-o...,39.757312,-84.184947

In [4]:
#on renomme la colonne "location.1" pour éviter toute sorte d'erreur
df=df.rename(columns = {'location.1': 'place'})

In [5]:
#on exporte notre bdd nettoyé 
df.to_csv('public/datasets/database_usa_final.csv',index = False)

On veut réprésenter l'évolution des victimes dans le temps

In [6]:
df1=pd.read_csv('public/datasets/database_usa_final.csv')

df1.columns

#on garde les colonnes:
# 4: date
# 6: fatalities
# 7: injured
# 8: total_victims

Index(['case', 'location', 'date', 'summary', 'fatalities', 'injured',
       'total_victims', 'place', 'age_of_shooter',
       'prior_signs_mental_health_issues', 'weapons_obtained_legally',
       'weapon_type', 'race', 'gender', 'sources', 'latitude', 'longitude'],
      dtype='object')

In [7]:
mycolumns = ['date','fatalities','injured','total_victims'] 
evolution_victims = df1[mycolumns]
evolution_victims.head()

       date  fatalities  injured  total_victims
0   2/26/20           5        0              5
1  12/10/19           4        3              7
2   12/6/19           3        8             11
3   8/31/19           7       25             32
4    8/4/19           9       27             36

In [8]:
evolution_victims['date'] = pd.to_datetime(evolution_victims.date)
evolution_victims = evolution_victims.sort_values(by='date')

C:\Users\selou\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
evolution_victims['date']

117   1982-08-20
116   1984-06-29
115   1984-07-18
114   1986-08-20
113   1987-04-23
         ...
4     2019-08-04
3     2019-08-31
2     2019-12-06
1     2019-12-10
0     2020-02-26
Name: date, Length: 118, dtype: datetime64[ns]

In [10]:
#on exporte notre table
evolution_victims=evolution_victims.to_csv('public/datasets/evolution_victims.csv', index = False)

on s'interresse au nombre de fusillades et pas des victimes :

In [11]:
df5=pd.read_csv('public/datasets/evolution_victims.csv')

df5['date'] = pd.to_datetime(df5.date)
df5 = df5.sort_values(by='date')

df5.head()

        date  fatalities  injured  total_victims
0 1982-08-20           8        3             11
1 1984-06-29           6        1              7
2 1984-07-18          22       19             41
3 1986-08-20          15        6             21
4 1987-04-23           6       14             20

In [12]:
df5['year'] = df5['date'].dt.year

In [13]:
fusillade_count=df5['year'].value_counts(dropna=False)
fusillade_count

2018    12
2017    11
2019    10
2015     7
2012     7
2016     6
1999     5
2013     5
2007     4
2009     4
1993     4
2014     4
2008     3
2006     3
2011     3
1998     3
1991     3
1984     2
1992     2
2005     2
1997     2
1989     2
1986     1
1987     1
1988     1
1990     1
2020     1
2001     1
1994     1
1995     1
1996     1
2000     1
2003     1
2004     1
2010     1
1982     1
Name: year, dtype: int64

In [14]:
fusillade_count=fusillade_count.to_csv('public/datasets/fusillade_count.csv')

In [15]:
fusillade_count=pd.read_csv('public/datasets/fusillade_count.csv')

In [16]:
fusillade_count=fusillade_count.rename(columns = {'Unnamed: 0': 'Year'})
fusillade_count=fusillade_count.rename(columns = {'year': 'Count'})

In [17]:
fusillade_count['Year'] = pd.to_datetime(fusillade_count['Year'], format='%Y')
fusillade_count.dtypes

Year     datetime64[ns]
Count             int64
dtype: object

In [18]:
fusillade_count = fusillade_count.sort_values(by='Year')

In [19]:
fusillade_count=fusillade_count.to_csv('public/datasets/fusillade_count.csv', index=False)

fusillade_count=pd.read_csv('public/datasets/fusillade_count.csv')

In [20]:
#on transforme notre csv fusillade_count.csv pour des raisons de traitement 
fusillade_count.to_json("public/datasets/fusillade_count.json", orient = "records", date_format = "epoch",
                        double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)

On veut réprésenter la répartition des éthnies

In [21]:
df1['race'].value_counts(dropna=False)

#on voit que dans la colonne correspondant à l'éthnie
#l'orthographe de certaines valeurs pose problème
#exemple:  il y a White et white, Black et black 

#du coup on va essayer de nettoyer tout ça

white              41
White              23
Black              12
Latino             10
black               9
Asian               8
Other               5
-                   5
Native American     3
White               1
unclear             1
Name: race, dtype: int64

In [22]:
ethnie = df1['race'].replace(["white", "White ", "black", "unclear", "-"],["White", "White", "Black", "Other", "Other"])

In [23]:
ethnie

0      Black
1      Black
2      Other
3      White
4      White
       ...
113    White
114    White
115    White
116    White
117    White
Name: race, Length: 118, dtype: object

In [24]:
ethnie_count = ethnie.value_counts(dropna=False)
ethnie_count

White              65
Black              21
Other              11
Latino             10
Asian               8
Native American     3
Name: race, dtype: int64

In [25]:
#on exporte notre table
ethnie_count=ethnie_count.to_csv('public/datasets/repartition_ethnie.csv')

In [26]:
ethnie_count=pd.read_csv('public/datasets/repartition_ethnie.csv')

In [27]:
ethnie_count

        Unnamed: 0  race
0            White    65
1            Black    21
2            Other    11
3           Latino    10
4            Asian     8
5  Native American     3

In [28]:
ethnie_count=ethnie_count.rename(columns = {'Unnamed: 0': 'Race'})
ethnie_count=ethnie_count.rename(columns = {'race': 'Count'})

In [29]:
ethnie_count=ethnie_count.to_csv('public/datasets/repartition_ethnie.csv',index = False)

On veut réprésenter les total_victims sur la map des USA

In [30]:
mycolumns2 = ['location','total_victims'] 
map_victims= df1[mycolumns2]
map_victims

                    location  total_victims
0       Milwaukee, Wisconsin              5
1    Jersey City, New Jersey              7
2         Pensacola, Florida             11
3              Odessa, Texas             32
4               Dayton, Ohio             36
..                       ...            ...
113        Palm Bay, Florida             20
114         Edmond, Oklahoma             21
115   San Ysidro, California             41
116            Dallas, Texas              7
117           Miami, Florida             11

[118 rows x 2 columns]

In [31]:
map_victims[['city','state']] = map_victims.location.str.split(",",expand=True,)

C:\Users\selou\anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [32]:
map_victims= map_victims[['total_victims','city','state']]

In [33]:
map_victims = map_victims.sort_values(by='state')

In [34]:
map_victims = map_victims.groupby(['state']).sum() ######## SOMME

In [35]:
#on exporte notre table
map_victims=map_victims.to_csv('public/datasets/map_victims.csv')

On veut réprésenter les total_victims sur la map des USA

In [36]:
df3=df1

In [37]:
df3.head()

,case,location,date,summary,fatalities,injured,total_victims,place,age_of_shooter,prior_signs_mental_health_issues,weapons_obtained_legally,weapon_type,race,gender,sources,latitude,longitude
0,Molson Coors shooting,"Milwaukee, Wisconsin",2/26/20,"Anthony Ferrill, 51, an employee armed with tw...",5,0,5,Workplace,51,-,-,semiautomatic handgun,Black,M,https://www.jsonline.com/story/news/local/2020...,43.044511,-87.962537
1,Jersey City kosher market shooting,"Jersey City, New Jersey",12/10/19,"David N. Anderson, 47, and Francine Graham, 50...",4,3,7,Other,-,-,-,-,Black,-,https://www.nytimes.com/2019/12/15/nyregion/je...,40.707363,-74.083609
2,Pensacola Naval base shooting,"Pensacola, Florida",12/6/19,"Ahmed Mohammed al-Shamrani, A Saudi Arabian mi...",3,8,11,Military,-,-,-,semiautomatic handgun,-,M,https://www.washingtonpost.com/national-securi...,30.364707,-87.288567
3,Odessa-Midland shooting spree,"Odessa, Texas",8/31/19,"Seth A. Ator, 36, fired at police officers who...",7,25,32,Other,36,yes,-,semiautomatic rifle,White,M,https://www.washingtonpost.com/politics/5-kill...,31.925974,-102.279600
4,Dayton entertainment district shooting,"Dayton, Ohio",8/4/19,"Connor Betts, 24, died during the attack, foll...",9,27,36,Other,24,-,Yes,semiautomatic rifle,White,M,https://www.nytimes.com/2019/08/04/us/dayton-o...,39.757312,-84.184947

In [38]:
df3[['city','state']] = df3.location.str.split(",",expand=True,)
#on va enlever l'espace qui est resté devant les cities et les states:
df3['city']=df3.city.str.strip()
df3['state']=df3.state.str.strip()

On va corriger 2 erreurs qui se trouvent dans la colonne state créée précèdement
Donc on remplace notre Lousiana par Louisana et D.C par District of Columbia

In [39]:
df3[df3['state']=="Lousiana"]

,case,location,date,summary,fatalities,injured,total_victims,place,age_of_shooter,prior_signs_mental_health_issues,weapons_obtained_legally,weapon_type,race,gender,sources,latitude,longitude,city,state
35,Baton Rouge police shooting,"Baton Rouge, Lousiana",7/17/2016,"Gavin Long, 29, a former Marine who served in ...",3,3,6,Other,29,Yes,Unknown,Two semiautomatic rifles; one semiautomatic ha...,Black,M,http://time.com/4411027/baton-rouge-shooter-ga...,30.433601,-91.081403,Baton Rouge,Lousiana

In [40]:
df3['state'][df3['state'] == "Lousiana"] = "Louisiana"

C:\Users\selou\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
df3[df3['state']=="D.C."]

,case,location,date,summary,fatalities,injured,total_victims,place,age_of_shooter,prior_signs_mental_health_issues,weapons_obtained_legally,weapon_type,race,gender,sources,latitude,longitude,city,state
51,Washington Navy Yard shooting,"Washington, D.C.",9/16/2013,"Aaron Alexis, 34, a military veteran and contr...",12,8,20,Military,34,Yes,Yes,"Sawed-off shotgun, 2 boxes of shells; also a ....",Black,Male,http://www.nytimes.com/2013/09/18/us/state-law...,38.874981,-76.99453,Washington,D.C.

In [42]:
df3['state'][df3['state'] == "D.C."] = "District of Columbia"

C:\Users\selou\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
df3=df3.to_csv('public/datasets/database_usa_final.csv', index = False)

on va faire un pie sur la colonne weapons_obtained_legally

In [44]:
df3=pd.read_csv('public/datasets/ShootingsDatabase.csv')
mental = df3[['prior_signs_mental_health_issues']]
mental

    prior_signs_mental_health_issues
0                                  -
1                                  -
2                                  -
3                                yes
4                                  -
..                               ...
113                              Yes
114                         Unclear
115                              Yes
116                              Yes
117                              Yes

[118 rows x 1 columns]

In [45]:
df3['prior_signs_mental_health_issues'].value_counts(dropna=True)

Yes         58
Unclear     23
No          17
-           12
TBD          5
yes          1
Unknown      1
Unclear      1
Name: prior_signs_mental_health_issues, dtype: int64

In [46]:
mental = df3['prior_signs_mental_health_issues'].replace(["yes", "Unclear ", "Unknown", "TBD", "-"],
                             ["Yes", "Unclear", "Unclear", "Unclear", "Unclear"])

In [47]:
mental = mental.value_counts(dropna=False)

In [48]:
mental

Yes        59
Unclear    42
No         17
Name: prior_signs_mental_health_issues, dtype: int64

In [49]:
mental=mental.to_csv('public/datasets/mental.csv')

In [50]:
mental=pd.read_csv('public/datasets/mental.csv')

In [51]:
mental=mental.rename(columns = {'Unnamed: 0': 'Value'})
mental=mental.rename(columns = {'prior_signs_mental_health_issues': 'Count'})

In [52]:
#on crée une nouvelle colonne avec le pourcentage
total = mental.sum(numeric_only=True)

mental['pct'] = round((mental.Count / total.values)*100,2)

In [53]:
mental

     Value  Count    pct
0      Yes     59  50.00
1  Unclear     42  35.59
2       No     17  14.41

In [54]:
mental.to_csv('public/datasets/mental.csv',index = False)

On va se focus sur l'etat du texas: faire le barchart des éthnies

In [55]:
df3=pd.read_csv('public/datasets/database_usa_final.csv')
df4 = df3

In [56]:
texas = df3[df3['state']=="Texas"]

In [57]:
ethnieTexas = texas['race'].replace(["white", "White ", "black", "unclear", "-"],["White", "White", "Black", "Other", "Other"])

In [58]:
ethnieTexas

3       White
5       White
18      White
24      White
36      Black
49     Latino
68      Other
89      White
98      Other
108     White
116     White
Name: race, dtype: object

In [59]:
ethnieTexas = ethnieTexas.value_counts(dropna=False)

In [60]:
ethnieTexas

White     7
Other     2
Latino    1
Black     1
Name: race, dtype: int64

In [61]:
#on exporte notre table
ethnieTexas=ethnieTexas.to_csv('public/datasets/ethnieTexas.csv')

In [62]:
ethnieTexas=pd.read_csv('public/datasets/ethnieTexas.csv')

In [63]:
ethnieTexas=ethnieTexas.rename(columns = {'Unnamed: 0': 'Race'})
ethnieTexas=ethnieTexas.rename(columns = {'race': 'Count'})

In [64]:
ethnieTexas=ethnieTexas.to_csv('public/datasets/ethnieTexas.csv',index = False)